<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<br>
<div *ngIf="request">
    <create-request [request]="this.userRequest" [admin]="false" (notify)='this.onNotify($event)'></create-request>
</div>

<div *ngIf="!request">
    <div class="container">
        <div class="row">

            <div class="col-xs-6 col-sm-3">
                <h5>Date</h5>
                <my-date-picker [selDate]='selectedDate' [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)"></my-date-picker>

            </div>
            <div class="col-xs-6 col-sm-3">
                <h5>Time</h5>
                <ng2-selectize [config]="timeConfig" [options]="timeOptions" placeholder="Time" [(ngModel)]="time" (ngModelChange)="onValueChange($event)"></ng2-selectize>

            </div>
            <div class="col-xs-6 col-sm-3">
                <h5>Duration</h5>
                <ng2-selectize [config]="durationConfig" [options]="durationOptions" placeholder="How Long?" [(ngModel)]="duration" (ngModelChange)="onValueChange($event)"></ng2-selectize>


            </div>
            <div class="col-xs-6 col-sm-3">
                <h5>Location</h5>
                <a class="btn btn-success btn-select btn-select-light">
                    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
                </a>
            </div>
        </div>
        <button class="btn btn-primary" (click)="this.searchFields()" type="submit">Search Fields</button>

    </div>


    <div class="container">
        <div class="row">
            <div class="sort-button col-xs-12 col-sm-2 col-md-2">
                <button type="button" class="btn btn-default btn-sm" (click)="this.sortByPrice()">
                <span class="glyphicon glyphicon-sort"></span> Sort
            </button>
                <button type="button" class="btn btn-default btn-sm active">
            <a href="#">
                <span class="glyphicon glyphicon-list-alt"></span>
            </a>
             </button>

                <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-map-marker"></span>
            </button>
            </div>
        </div>
        <br>
        <div class="row">
            <side-nav-filters-component *ngIf="this.fields.length > 0" (notifyFieldTypes)='this.onNotifyFilters($event)'></side-nav-filters-component>
            <div class="col-lg-10">
                <div class="row" *ngFor="let field of this.fields">
                    <div class="col-xs-12 col-sm-4 col-md-3">
                        <img src="{{this.field.imageFileURL}}" class="img-responsive img-box img-thumbnail" height="260px;" width="250px;">
                    </div>
                    <div class="">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row-content">
                                    <span style="font-size: 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 500px;">{{this.field.fieldName}}</span>
                                    <br>
                                    <span class="explore"><i class="glyphicon glyphicon-map-marker"></i> <a href="#">{{this.field.address.number}}, {{this.field.address.city}}, {{this.field.address.state}} {{this.field.address.zip}}</a></span>
                                    <br>
                                    <small style="font-size: 20px; font-weight: bold;">${{this.field.fieldHourlyPrice}} (per hour)</small><br>
                                </div>

                            </div>
                            <br>
                            <div class="list-group-item">
                                <ul id="menu">
                                    <li style="margin-right: 10px" *ngFor="let date of this.availableDates">
                                        <button (click)="this.createRequest(this.field, 8, 0)" type="button" class="btn btn-success">
                                        {{date | date: 'shortTime'}}
                                      </button>

                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                    <br>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>