<div class="container">
    <div class="row">

        <div class="col-xs-6 col-sm-3">
            <h5>Date</h5>
            <a class="btn btn-success btn-select btn-select-light">
                <input type="hidden" class="btn-select-input" id="" name="" value="" />
                <span class="btn-select-value">April 9, 2017</span>
                <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                <ul>
                    <li>Option 1</li>
                    <li>Option 2</li>
                    <li>Option 3</li>
                    <li>Option 4</li>
                </ul>
            </a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <h5>Time</h5>
            <a class="btn btn-success btn-select btn-select-light">
                <input type="hidden" class="btn-select-input" id="" name="" value="" />
                <span class="btn-select-value">09:00AM</span>
                <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                <ul>
                    <li>Option 1</li>
                    <li>Option 2</li>
                    <li>Option 3</li>
                    <li>Option 4</li>
                </ul>
            </a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <h5>Location</h5>
            <a class="btn btn-success btn-select btn-select-light">
                <input type="hidden" class="btn-select-input" id="" name="" value="" />
                <span class="btn-select-value">Bellevue</span>
                <span class='btn-select-arrow glyphicon glyphicon-map-marker'></span>
                <ul>
                    <li>Option 1</li>
                    <li>Option 2</li>
                    <li>Option 3</li>
                    <li>Option 4</li>
                </ul>
            </a>
        </div>
        <div class="col-xs-6 col-sm-3">
            <h5>Duration</h5>
            <a class="btn btn-success btn-select btn-select-light">
                <input type="hidden" class="btn-select-input" id="" name="" value="" />
                <span class="btn-select-value">90 min</span>
                <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                <ul>
                    <li>Option 1</li>
                    <li>Option 2</li>
                    <li>Option 3</li>
                    <li>Option 4</li>
                </ul>
            </a>
        </div>
    </div>
</div>