<div *ngIf="!this.submitted">
    <h3 *ngIf="!admin">Confirm Booking</h3>
    <h3 *ngIf="admin">Booking Request</h3>
    <div class="container" width="50%">
        <form class="form-horizontal">
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="name">Name</label>
                <div class="col-md-6">
                    <input readonly type="text" placeholder="{{request.user.firstName}} {{request.user.lastName}}" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="email">Email Address</label>
                <div class="col-md-6">
                    <input readonly itype="email" placeholder="{{request.user.userEmail}}" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="company">Phone</label>
                <div class="col-md-6">
                    <input readonly placeholder="{{request.user.phoneNo}}" class="form-control input-md" required="">
                </div>
            </div>
            <hr>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="street">Address:</label>
                <div class="col-md-6">
                    <input readonly type="text" placeholder="{{request.field.address.number}} {{request.field.address.city}},{{request.field.address.state}} {{request.field.address.zip}}" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="post">Field Name:</label>
                <div class="col-md-6">
                    <input readonly type="text" placeholder="{{request.field.fieldName}}" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="city">Request DateTime:</label>
                <div class="col-md-6">
                    <input readonly type="text" placeholder="{{request.requestDateTime | date: 'medium'}}" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="city">Duration:</label>
                <div class="col-md-6">
                    <input readonly type="text" placeholder="{{request.duration}} min" class="form-control input-md" required="">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Price/Hour:</label>
                <div class="col-md-6">
                    <input readonly type="text" placeholder="${{request.totalPrice}}" class="form-control input-md" required="">

                </div>
            </div>

            <hr>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="city">Purpose:</label>
                <div class="col-md-6">
                    <textarea *ngIf="!admin" value="{{request.purpose}}" type="text" placeholder="What is the purpose of your booking?" class="form-control input-md" required="true"></textarea>
                    <textarea *ngIf="admin" readonly value="{{request.purpose}}" type="text" placeholder="What is the purpose of your booking?" class="form-control input-md" required=""></textarea>
                </div>
            </div>


            <div class="form-group">
                <div *ngIf="!admin" class="">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <button id="submit" (click)='this.goBack()' name="submit" class="btn btn-primary">Back</button>
                        <button id="submit" (click)='this.createRequest()' name="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
                <div *ngIf="admin" class="">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6">
                        <button id="submit" (click)='this.goBack()' name="submit" class="btn btn-primary">Back</button>
                        <button id="submit" (click)='this.approve()' name="submit" class="btn btn-success">Approve</button>
                        <button id="submit" (click)='this.reject()' name="submit" class="btn btn-danger">Reject</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="this.submitted">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6 col-sm-offset-3">
                <br><br>
                <h2 style="color:#0fad00">Success</h2>
                <img src="../assets/checkmark.png" width="80px">
                <h3>Dear, {{request.user.firstName}} {{request.user.lastName}}</h3>
                <p style="font-size:20px;color:#5C5C5C;">Thank you for booking a field with us. We have sent an email to {{request.user.userEmail}} with your details.</p>
                <a routerLink="/user-request-list-view" class="btn btn-primary">     My Bookings      </a>
                <br><br>
            </div>

        </div>
    </div>
</div>