<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="container">

    <script id="metamorph-1-start" type="text/x-placeholder"></script>
    <script id="metamorph-21-start" type="text/x-placeholder"></script>
    <div class="container marketing" style="z-index: 1; position: absolute; top: 200px;
        right: 0;
        left: 0;">
        <div class="container">
            <div class="jumbotron">
                <div style="text-align:center">
                    <img src="http://i.imgur.com/npwi6xf.png" height=100px>
                    <form class="form-signin" data-ember-action="2">
                        <h2 class="form-signin-heading">Sign in</h2>

                        <div class="facebookMessage">Connect FieldFinder with your Facebook Profile to get started!</div>
                        <br><br>

                        <div class="container-fluid">
                            <div class="sicon">
                                <div style="align-content:center">

                                    <div class="icon-circle">
                                        <a href="/auth/facebook" class="ifacebook" title="Facebook"><i class="fa fa-facebook-square"></i></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>



    <!-- SLIDER END-->