.navbar-default {
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

.navbar-inner {
    /*height: 90px*/
    min-height: 60px
}

.navbar .brand {
    padding: 0 15px 15px 15px;
}

.navbar-fixed-top {
    height: 85px;
}

.navbar {
    min-height: 85px;
}

.navbar-nav {
    padding: 15px 0;
}

.navbar .nav>li>a {
    padding: 20px;
    /*padding: 35px 15px;*/
}

.navbar .btn-navbar {
    /*margin-right: 0px;*/
    margin-top: 15px;
}

.brand img {
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (max-width:768px) {
    .brand img {
        margin-bottom: 5px
    }
    .navbar .btn-navbar {
        /*margin-right: -15px;*/
    }
    .navbar .nav>li>a {
        padding: 10px 15px;
    }
}