<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<div class="col-xs-6 col-sm-2">
    <div id="accordion" class="panel panel-primary behclick-panel">
        <div class="panel-heading">
            <h3 class="panel-title">Filters</h3>
        </div>
        <div class="panel-body">
            <div class="panel-heading ">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse0">
                        <i class="indicator fa fa-caret-down" aria-hidden="true"></i> Field Type
                    </a>
                </h4>
            </div>
            <div id="collapse0" class="panel-collapse collapse in">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label>
										<input type="checkbox" value="">
										Indoor
									</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label>
										<input type="checkbox" value="">
										Outdoor
									</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label>
										<input type="checkbox" value="">
										Turf
									</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label>
										<input type="checkbox" value="">
										Grass
									</label>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="panel-heading ">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">
                        <i class="indicator fa fa-caret-down" aria-hidden="true"></i> Sport
                    </a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label>
										<input type="checkbox" value="">
										Soccer
									</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label>
										<input type="checkbox" value="">
										Basketball
									</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label>
										<input type="checkbox" value="">
										Baseball
									</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label>
										<input type="checkbox" value="">
										Football
									</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="checkbox">
                            <label>
										<input type="checkbox" value="">
										Tennis
									</label>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>